<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=172.16.17.13;database=pairalert_test;uid=sa;password=Maxval2" />-->
    <!--<add name="ConnectionString" connectionString="server=172.16.16.18;database=pairalert_v4_test;uid=pair_alert;password=pa!r_@lert123"/>-->
    <!--<add name="ConnectionString" connectionString="server=50.28.37.246;database=pairalert_v4;uid=pair_alert;password=pair@KP@alert" />-->
    <add name="ConnectionString" connectionString="server=69.16.229.92;database=pairalert_v4;uid=pair_alert;password=pair@KP@alert" />
    <!--<add name="ConnectionString" connectionString="server=172.16.16.18;database=pairalert_v4_thread;uid=pair_trd;password=PairvsKPd" />-->
    <!--<add name="ConnectionString" connectionString="server=205.251.188.17;database=pairalert_v4;uid=pair_alert;password=pair@KP@alert" />-->
    <!--<add name="ConnectionStringAssignment" connectionString="Data Source=205.251.188.17;Initial Catalog=dbAssignment_Test;Persist Security Info=True;User ID=dbassign;Password=Maxval#2012;Connection Timeout=3000000" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionStringAssignment" connectionString="Data Source=172.16.16.18;Initial Catalog=pairalert_v4_test;Persist Security Info=True;User ID=pair_alert;Password=pa!r_@lert123;Connection Timeout=3000000" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionStringAssignment" connectionString="Data Source=50.28.37.246;Initial Catalog=pairalert_v4;Persist Security Info=True;User ID=pair_alert;Password=pair@KP@alert;Connection Timeout=3000000" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionStringAssignment" connectionString="Data Source=69.16.229.92;Initial Catalog=pairalert_v4;Persist Security Info=True;User ID=pair_alert;Password=pair@KP@alert;Connection Timeout=3000000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="File_ErrorCount" value="5"/>
    <add key="pdf_startflag" value="on"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--2FA Authenication-->
    <add key="Captcha_Username" value="prabakar" />
    <add key="Captcha_Password" value="Welcome12" />
    <add key="PublicPairURL" value="https://portal.uspto.gov/pair/PublicPair"/>
    <!--End-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>